{{! reset_password.hbs }}
{{>userheader}}

<h1>Reset Password</h1>
<p style="text-align: center; color: red;" class="mt-4">{{messageErr}}</p>
<p style="text-align: center; color:green;" class="mt-4">{{message}}</p>
<form method="post" action="/reset-password/{{token}}">
  <label for="password">New Password:</label>
  <input type="password" id="password" name="newPassword" required />
  <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
 {{>userfooter}}